<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context = "http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd">
       
       <bean id="mathCheatObjectValue" class="com.spring.ObjectDI.MathCheat"></bean>
       
       <bean id="student" class="com.spring.ObjectDI.Student">
       	<property name="mathcheat" ref="mathCheatObjectValue">
       		<!-- <bean class="com.spring.ObjectDI.MathCheat"></bean> -->
       	</property>
       </bean>
       
       <bean id="anotherstudent" class="com.spring.ObjectDI.AnotherStudent">
       		<property name="cheat" ref="mathCheatObjectValue">
       			<!-- <bean class="com.spring.ObjectDI.AnotherStudent"></bean> -->
       		</property>
       </bean>
</beans>